<link rel="stylesheet" href="css/body.css">
<div class="container">

    <div class="row" >
      
        <% danhsach.forEach(function(product){ %>
        <div class="col-sm-3" style="max-height: 600px; max-width: 400px;" >
                  <div class="thumbnail" >
                    <a href="/user/detail-product/<%- product._id %>">
                      <img
                        class=""
                        src="upload/<%- product.image %>"
                        style="margin-right: 6%;  width:300px ; height: 300px;"
                      /></a>
                    <div class="caption">
                      <h4 class="">
                        <%- product.name %>
                      </h4>
                      <p
                        class=""
                        style="
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        "
                      >
                        <%- product.note %>
                      </p>
                     
                        <div class="">
                          <p class="lead"><%- product.price %> VNĐ</p>
                        </div>
                        <div style="margin-bottom: 5%;">
                          <a
                            class="btn btn-success"
                            href="/user/detail-product/<%- product._id %>"
                            >Chi tiết</a
                          >
                        </div>
                
                    </div>
                  </div>
            
             
              </div> 
              <% }); %>
        </div>
        

</div>