 <%- include("../layout/head") %>
 <%- include("../layout/nav") %>
 <link rel="stylesheet" href="/css/body.css">
<br />
<body>

  <div class="aside">
    <%- include("./list_cate") %>
  </div>
  <div class="content">
    <h3 style="color: red">

        Danh sách sản phẩm
 
    </h3>
    <div class="container">
      <div class="row">
        <% ca.forEach(function(item){ %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img
              class=""
              src="/upload/<%- item.image %>"
              width="300px"
            />
            <div class="caption">
              <marquee class="" direction="left" style="font-size: 150%;">
                <%- item.name %>
              </marquee>
              <p
                class=""
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
              >
                <%- item.note %>
              </p>

              <div class="">
                <p class="lead"><%- item.price %> VNĐ</p>
              </div>
              <div class="">
                <a
                  class="btn btn-success"
                  href="/user/detail-product/<%- item._id %>"
                  >Chi tiết</a
                >
              </div>
              <a href="/add-to-cart/<%- item._id %>" class="btn btn-outline-warning" style="margin-top: 15px ;"><i class="fa fa-cart-plus"><b>Add to
                Cart</b></i></a>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

    </div>
  </div>
</div>
  <%- include("../layout/footer") %>
</body>


 
 